<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <li class="user-nav__item">
                            <div class="user-nav__dropdown">
                                <span class="user-nav__user-name">Swaroop Nayak</span>
                                <div class="user-nav__user-menu">
                                    <a href="/create-blog">Create Blog</a>
                                    <a href="/my-blogs/1">My Blogs</a>
                                    <a href="/my-account/1">My Account</a>
                                    <a href="#">Logout</a>

                                </div>
                            </div>
                        </li>
                                                
                    </ul>
                </nav>
            </header>
            <div class="masthead-blog disable-select">
                <div class="masthead-blog__blog-info">
                    <h1 class="masthead-blog__text">
                        <%= blog.title %>
                    </h1>
                    <h2 class = "masthead-blog__subtext"><%= blog.subtitle %></h2>
                    <h3 class = "masthead-blog__author">Posted by <span style="font-weight: 600;">Swaroop Nayak</span> on <%= blog.publishedAt.toLocaleDateString() %> in <span style="font-weight: 600;"><%= blog.topic %></span></h2>
                </div>
                
            </div>

            <div class="blog-content">
                <p class="blog-content__text">
                    <%= blog.text %>
                </p>
                <div class="rating-section">
                    <div class="rating-section__votes">138</div>
                    <button class="rating-section__btn">Upvote</button>
                </div>
            </div>

            
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>