<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <%- include('../includes/user-menu.ejs') %>
                                                
                    </ul>
                </nav>
            </header>
            <div class="masthead-blog disable-select">
                <div class="masthead-blog__blog-info">
                    <h1 class="masthead-blog__text">
                        <%= blog.title %>
                    </h1>
                    <h2 class = "masthead-blog__subtext"><%= blog.subtitle %></h2>
                    <h3 class = "masthead-blog__author">Posted by <span style="font-weight: 600;"><%= blog.userId.name %></span> on <%= blog.publishedAt.toLocaleDateString() %> in <span style="font-weight: 600;"><%= blog.topic %></span></h2>
                </div>
                
            </div>

            <div class="blog-content">
                <p class="blog-content__text">
                    <%= blog.text %>
                </p>
                <div class="rating-section">
                    <div class="rating-section__votes">138</div>
                    <button class="rating-section__btn">Upvote</button>
                </div>
            </div>

            
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>