<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <%- include('../includes/user-menu.ejs') %>
                                                
                    </ul>
                </nav>
            </header>
            
            <div class="content">
               <main class="create-blog">
                    <h1 class="section-headline">Edit Blog</h1>
                    <form class="blog-form" action="/<% if (editing) { %>edit-blog<% } else { %>create-blog<% } %>" method="POST">
                        <div class="form-control">
                            <label for="title">Title</label>
                            <input required type="text" name="title" id="title" value="<% if (editing) { %><%= blog.title %><% } %>">
                        </div>
                        <div class="form-control">
                            <label for="subtitle">Subtitle</label>
                            <input required type="text" name="subtitle" id="subtitle" value="<% if (editing) { %><%= blog.subtitle %><% } %>">
                        </div>
                        <div class="form-control">
                            <label for="topic">Topic</label>
                            <div class="custom-select">
                                <select required id="topic" name="topic">
                                    <option value="Webdev" <% if(blog.topic === 'Webdev') { %>selected<% } %> >Webdev</option>
                                    <option value="Appdev" <% if(blog.topic === 'Appdev') { %>selected<% } %> >Appdev</option>
                                    <option value="ML" <% if(blog.topic === 'ML') { %>selected<% } %> >ML</option>
                                    <option value="Systems" <% if(blog.topic === 'Systems') { %>selected<% } %> >Systems</option>
                                    <option value="Gamedev" <% if(blog.topic === 'Gamedev') { %>selected<% } %> >Gamedev</option>
                                    <option value="Cybersecurity" <% if(blog.topic === 'Cybersecurity') { %>selected<% } %> >Cybersecurity</option>
                                </select>
                            </div>
                            
                        </div>
                        
                        <div class="form-control">
                            <label for="blog">Blog</label>
                            <textarea name="blog" id="blog" rows="20" ><% if (editing) { %><%= blog.text %><% } %></textarea>
                        </div>
                        <% if (editing) { %>
                            <input type="hidden" value="<%= blog._id %>" name="blogId">
                        <% } %>
            
                        <button class="btn" type="submit">Update</button>
                    </form>
                    
                    
                    
               </main>

               
            </div>
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>