<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <li class="user-nav__item">
                            <div class="user-nav__dropdown">
                                <span class="user-nav__user-name">Swaroop Nayak</span>
                                <div class="user-nav__user-menu">
                                    <a href="/create-blog">Create Blog</a>
                                    <a href="#">My Blogs</a>
                                    <a href="/my-account/1">My Account</a>
                                    <a href="#">Logout</a>

                                </div>
                            </div>
                            
                            
                        </li>

                                                
                    </ul>
                </nav>
            </header>
            <div class="masthead">
                <h1 class="masthead__text">
                    Welcome Swaroop!
                </h1>
            </div>

            <div class="content">
               <main class="latest-blogs">
                <% if (blogs.length > 0) { %>
                    <h1 class="section-headline">Latest Blogs</h1>
                    <% for (let blog of blogs) { %>
                        <div class="latest-blogs__blog">
                            <div class="latest-blogs__blogdetails">
                                <h2 class="latest-blogs__blog--title"><%= blog.title %></h2>
                                <p class="latest-blogs__blog--info">Posted by <span style="font-weight: 600;">Swaroop Nayak</span> on <%= blog.publishedAt.toLocaleDateString() %> in <span style="font-weight:600;"><%= blog.topic %></span></p>
                            </div>
                            <div class="latest-blogs__blogaction">
                                <a href="/blogs/<%= blog._id %>" class="btn">Read Blog</a>
                                
                            </div>
                                          
                                                
                        </div>
                    <% } %>

                <% } else { %>
                    <h1 class="section-headline">No blogs yet, Start Creating Blogs!</h1>
                <% } %>
                                       
                    
                    
               </main>

               <div class="user-tools">
                    <h1 class="section-headline">User tools</h1>
                    <div class="user-tools__manage">
                        <ul class="user-tools__manage--list">
                            <li><a href="/create-blog">Create a Blog</a></li>
                            <li><a href="#">My Blogs</a></li>
                            <li><a href="/my-account/1">My Account</a></li>
                            
                        </ul>
                    </div>
               </div>
            </div>
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>