<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
            <% if(isAuthenticated) { %>
                        <%- include('../includes/user-menu.ejs') %>            

                                                
                    </ul>
                </nav>
            </header>
            <div class="masthead">
                <h1 class="masthead__text">
                    Welcome <%= user.name %>!
                </h1>
            </div>

            <div class="content">
               <main class="latest-blogs">
                <% if (blogs.length > 0) { %>
                    <h1 class="section-headline">Latest Blogs</h1>
                    <% for (let i = blogs.length - 1; i>=0; i--) { %>
                        <div class="latest-blogs__blog">
                            <div class="latest-blogs__blogdetails">
                                <h2 class="latest-blogs__blog--title"><%= blogs[i].title %></h2>
                                <p class="latest-blogs__blog--info">Posted by <span style="font-weight: 600;"><%= blogs[i].userId.name %></span> on <%= blogs[i].publishedAt.toLocaleDateString() %> in <span style="font-weight:600;"><%= blogs[i].topic %></span></p>
                            </div>
                            <div class="latest-blogs__blogaction">
                                <a href="/blogs/<%= blogs[i]._id %>" class="btn">Read Blog</a>
                                
                            </div>
                                          
                                                
                        </div>
                    <% } %>

                <% } else { %>
                    <h1 class="section-headline">No blogs yet, Start Creating Blogs!</h1>
                <% } %>
                                       
                    
                    
               </main>

               <div class="user-tools">
                    <h1 class="section-headline">User tools</h1>
                    <div class="user-tools__manage">
                        <ul class="user-tools__manage--list">
                            <li><a href="/create-blog">Create a Blog</a></li>
                            <li><a href="/my-blogs/<%= user._id %>">My Blogs</a></li>
                            <li><a href="/my-account/<%= user._id %>">My Account</a></li>
                            
                        </ul>
                    </div>
               </div>
            </div>
            
            <% } else { %>
                <li class="user-nav__item">
                    <a href="/login" class="user-nav__link">
                        Login/Sign Up
                    </a>
                </li>
                                        
                    </ul>
                </nav>
            </header>
            <div class="masthead disable-select">
                <h1 class="masthead__text">
                    Create Amazing Posts!
                </h1>                
            </div>

            <section class="bg-white">
                <div class="hero">
                    <img src="img/feather-pen.png" alt="Athena-logo" class="hero__logo">
                    <h2 class="hero__text">Bringing you the<br> best of Blogging on campus</h2>
                    <div class="hero__subtext">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero augue, bibendum et ex vitae, pretium consectetur arcu. Morbi varius suscipit pellentesque. Mauris est purus, consectetur eu efficitur quis, blandit luctus dolor. Etiam dapibus malesuada enim, vitae consectetur metus. Ut interdum, arcu quis dapibus posuere, leo elit sagittis justo, non condimentum mi velit at leo. Maecenas neque ante, gravida vitae nibh ac, consequat tempor est. Nunc venenatis tellus at blandit varius. Vestibulum sed efficitur lacus, a luctus eros.
                    </div>

                </div>
            </section>

            <section class="bg-image">
                <h2 class="bg-image__text">
                    We love your ideas and perspectives
                </h2>
            </section>

            <section class="bg-white">
                <div class="hero">
                
                    <h2 class="hero__text">A living network of curious minds.</h2>
                    <div class="hero__subtext">
                        Anyone can write on Athena. Thought-leaders, artists, experts, and individuals with unique perspectives share their thinking here. You’ll find pieces by independent writers from around the campus, stories we feature and leading authors, and smart takes on our own suite of blogs and publications.
                    </div>

                </div>
            </section>

            <% } %>
            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>