<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <%- include('../includes/user-menu.ejs') %>

                                                
                    </ul>
                </nav>
            </header>
            <div class="masthead">
                <h1 class="masthead__text">
                   Account Settings
                </h1>
                <a href="#" class="account-info">Edit</a>
            </div>

            <div class="myaccount-content">
               <div class="stats">
                   <h3 class="stats__desc">Number of blogs published</h3>
                   <h1 class="stats__value"><%= user.myblogs.blogs.length %></h1>
               </div>
               <div class="stats">
                   <h3 class="stats__desc">Number of upvotes</h3>
                   <h1 class="stats__value">100</h1>
               </div>

            </div>
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>