<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <%- include('../includes/user-menu.ejs') %>
                                                
                    </ul>
                </nav>
            </header>
            
            <div class="content">
               <main class="my-blogs">
                <% if (blogs.length > 0) { %>
                    <h1 class="section-headline">My Blogs</h1>
                    <% for (let blog of blogs) { %>
                        <div class="latest-blogs__blog">
                            <div class="latest-blogs__blogdetails">
                                <h2 class="latest-blogs__blog--title"><%= blog.articleId.title %></h2>
                                <p class="latest-blogs__blog--info">Posted by <span style="font-weight: 600;"><%= user.name %></span> on <%= blog.articleId.publishedAt.toLocaleDateString() %> in <span style="font-weight:600;"><%= blog.articleId.topic %></span></p>
                            </div>                        
                            <div class="latest-blogs__blogaction">
                                <a href="/blogs/<%= blog.articleId._id %>" class="btn">Read Blog</a>
                                <a href="/my-blogs/edit-blog/<%= blog.articleId._id %>?edit=true" class="btn">Edit Blog</a>
                                <form action="/my-blogs/delete-blog" method="POST">
                                    <input type="hidden" value="<%= blog.articleId._id %>" name="blogId">
                                    <button class="btn" type="submit">Delete Blog</button>
                                </form>
                            </div>                
                                                
                        </div>
                    <% } %>
                    
                    
                    
                <% } else { %>
                    <h1 class="section-headline">You have not created any blogs yet, Start Creating Blogs!</h1>  
                <% } %>         
               </main>

               
            </div>
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>